<div *ngIf="TicketList">
    <h4>Detalhes do Ticket</h4>
    <div>
      <p><strong>Descrição:</strong> {{ TicketList.resumoProblema }}</p>
      <p><strong>Status:</strong> {{ TicketList.status }}</p>
      <p><strong>Data de Criação:</strong> {{ TicketList.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Data de Solução:</strong> {{ TicketList.dataSolucao | date:'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Local:</strong> {{ TicketList.local }}</p>
      <p><strong>Outro Local:</strong> {{ TicketList.outroLocal }}</p>
      <p><strong>Tipo de Problema:</strong> {{ TicketList.tipoProblema }}</p>
      <p><strong>Outros tipos de Problema:</strong> {{ TicketList.outrovtipoProblema }}</p>
      <p><strong>SubTipo de Problema:</strong> {{ TicketList.subtipoProblema }}</p>
      <p><strong>Outros SubTipos de Problema:</strong> {{ TicketList.outroSubtipoProblema }}</p>
      <p><strong>Criador:</strong> {{ TicketList.raAluno }}</p>
      <p><strong>Funcionário:</strong> {{ TicketList.funcionarioResponsavel }}</p>
      <div class="conteiner-imagem">
        <!--se p src for null, mostrar imagem padrão -->

        <img [src]="servidor + '/image/download/' + TicketList.caminhoFoto"
       (error)="onError($event)"
       alt="Imagem do Ticket"
       class="ticket-image"/>

      </div>
      <!-- Adicione outros campos conforme necessário -->
    </div>

    <div class="actions">
      <button *ngIf="tipoDeUsuario == 'ROLE_admin' || tipoDeUsuario == 'ROLE_user' && TicketList.status == 'ABERTO'"
              class="btn btn-primary"
              onclick="document.getElementById('botaoEditar').click()">
        Editar
      </button>
      <button *ngIf="tipoDeUsuario == 'ROLE_admin' && TicketList.status == 'CANCELADO'"
              class="btn btn-danger"
              (click)="deletar(TicketList); $event.stopPropagation()">
        Excluir
      </button>
      <button *ngIf="tipoDeUsuario == 'ROLE_admin' && TicketList.status == 'ABERTO'"
              class="btn btn-success"
              (click)="pegarTicket(TicketList); $event.stopPropagation()">
        Pegar
      </button>
      <button *ngIf="tipoDeUsuario == 'ROLE_admin' && TicketList.status == 'EM_ANDAMENTO'"
              class="btn btn-success"
              (click)="finalizarTicket(TicketList); $event.stopPropagation()">
        Finalizar
      </button>

      <button *ngIf="tipoDeUsuario == 'ROLE_admin' && (TicketList.status == 'CANCELADO' || TicketList.status == 'SOLUCIONADO')"
              class="btn btn-success"
              (click)="reabrirTicket(TicketList); $event.stopPropagation()">
        Reabrir
      </button>
      <button *ngIf="tipoDeUsuario == 'ROLE_admin' && TicketList.status != 'CANCELADO'"
              class="btn btn-danger"
              (click)="cancelarTicket(TicketList); $event.stopPropagation()">
        Cancelar
      </button>
      <button *ngIf="tipoDeUsuario == 'ROLE_user' && TicketList.status == 'ABERTO'"
              class="btn btn-danger"
              (click)="cancelarTicket(TicketList); $event.stopPropagation()">
        Cancelar
      </button>
      <button *ngIf="tipoDeUsuario == 'ROLE_admin' && TicketList.status == 'EM_ANDAMENTO'"
              class="btn btn-success"
              (click)="reabrirTicket(TicketList); $event.stopPropagation()">
        Sair
      </button>
    </div>
  </div>
