<p>hello world</p>
<div *ngIf="TicketList">
    <h4>Detalhes do Ticket</h4>
    <div>
      <p><strong>ID:</strong> {{ TicketList.id }}</p>
      <p><strong>Descrição:</strong> {{ TicketList.resumoProblema }}</p>
      <p><strong>Status:</strong> {{ TicketList.status }}</p>
      <p><strong>Data de Criação:</strong> {{ TicketList.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Data de Solução:</strong> {{ TicketList.dataSolucao | date:'dd/MM/yyyy HH:mm' }}</p>
      <!-- Adicione outros campos conforme necessário -->
    </div>

    <!-- Botões de Ação -->
    <div class="button-group">
      <!-- Botão para Editar o Ticket -->
      <button *ngIf="funcao !== 'Visualizar'" (click)="edit(TicketList)" class="btn btn-warning">Editar</button>

      <!-- Botão para Finalizar o Ticket -->
      <button *ngIf="TicketList.status !== 'SOLUCIONADO'" (click)="finalizarTicket(TicketList)" class="btn btn-success">Finalizar</button>

      <!-- Botão para Cancelar o Ticket -->
      <button *ngIf="TicketList.status !== 'CANCELADO'" (click)="cancelarTicket(TicketList)" class="btn btn-danger">Cancelar</button>

      <!-- Botão para Reabrir o Ticket -->
      <button *ngIf="TicketList.status !== 'ABERTO'" (click)="reabrirTicket(TicketList)" class="btn btn-info">Reabrir</button>

      <!-- Botão para Pegar o Ticket -->
      <button *ngIf="TicketList.status === 'ABERTO'" (click)="pegarTicket(TicketList)" class="btn btn-primary">Pegar</button>

      <!-- Botão para Excluir o Ticket -->
      <button *ngIf="funcao !== 'Visualizar'" (click)="deletar(TicketList)" class="btn btn-dark">Excluir</button>
    </div>

    <div class="modal-footer">
      <!-- Botão de Fechar Modal -->
      <button type="button" class="btn btn-secondary" (click)="onClose()">Fechar</button>
    </div>
  </div>
  