

<br>
<div class="container"> 
<form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <mdb-form-control>
          <input mdbInput type="text" id="form6Example1" class="form-control" [(ngModel)]="pessoa.nome" name="nome"/>
          <label mdbLabel class="form-label" for="form6Example1" >Nome</label>
        </mdb-form-control>
      </div>
      <div class="col">
        <mdb-form-control>
          <input mdbInput type="text" id="form6Example2" class="form-control" [(ngModel)]="pessoa.idade" name="idade"/>
          <label mdbLabel class="form-label" for="form6Example2">Idade</label>
        </mdb-form-control>
      </div>
    </div>
  
    <!-- Text input -->
    <mdb-form-control class="mb-4">
      <input mdbInput type="text" id="form6Example3" class="form-control" [(ngModel)]="pessoa.documento" name="documento"/>
      <label mdbLabel class="form-label" for="form6Example3">Documento</label>
    </mdb-form-control>
  
    <!-- Submit button -->
    <button mdbRipple type="button" class="btn btn-primary btn-block mb-4" (click)="salvar()">
      Atualizar
    </button>
  </form>

</div>