
$primary-color: #4caf50;
$text-color: #ffffff;
$background-color: #111111;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  height: 100%;
  width: 100%;
  flex-direction: column;


  .project-title {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 1rem;
    text-align: center;

  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: $background-color;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2rem;

      .card-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

      }

      #div-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }


      .card-title {

        color: $text-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        text-align: center;
      }



      .form-outline {
        position: relative;

        input.form-control {
          background-color: #242424;
          border: 1px solid #4caf50;
          color: #ffffff;
          border-radius: var(--mdb-card-border-radius);
          padding: 0.75rem;
          width: 100%;
          margin-bottom: 1.5rem;
          transition: 0.2s ease all;


          &:focus {
            outline: none;
            border-color: lighten($primary-color, 10%);
          }


          &:not(:placeholder-shown) + .form-label,
          &:focus + .form-label,
          &:not(:empty) + .form-label {
            transform: translateY(-1.5rem); // Move a label para cima
            font-size: 0.875rem;
            color: lighten($primary-color, 20%);
            border: 1px solid #4caf50;
            border-radius: var(--mdb-card-border-radius);
            transition: 0.2s ease all;
          }
        }

        input:-webkit-autofill {
          -webkit-text-fill-color: #ffffff!important;
          background-color: #00000000 !important;
          -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
          transition: background-color 5000s ease-in-out 0s;
        }

        .form-label {
          position: absolute;
          top: 0.75rem;
          left: 0.75rem;
          color: $primary-color;
          background-color: #2b2b2b;
          border-radius: var(--mdb-card-border-radius);
          padding: 0 0.25rem;
          transition: 0.2s ease all;
          pointer-events: none;

        }

      }

      .btn-primary {
        background-color: $primary-color;
        color: $text-color;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: lighten($primary-color, 10%);
        }
      }
    }
  }
}



$primary-color: #4caf50;
$text-color: #ffffff;
$background-color: #111111;

.switch__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch--shadow + label {
  padding: 1px;
  width: 60px;
  height: 30px;
  background-color: $background-color;  // Cor de fundo ajustada
  border-radius: 30px;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.switch--shadow + label:before {
  right: 1px;
  background-color: #222222;
  border-radius: 30px;
  transition: background 0.4s;
}

.switch--shadow + label:after {
  width: 30px;
  background-color: $text-color;  // Cor do botão ajustada
  border-radius: 100%;
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
  background-color: $primary-color;  // Cor de fundo quando ativado
}

.switch--shadow:checked + label:after {
  transform: translateX(30px);
}

/* Estilo Flat */
.switch--flat + label {
  padding: 1px;
  width: 60px;
  height: 30px;
  background-color: $background-color;  // Cor de fundo ajustada
  border-radius: 30px;
  transition: background 0.4s;
}

.switch--flat + label:before,
.switch--flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

.switch--flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: $text-color;  // Cor do fundo do botão ajustada
  border-radius: 30px;
  transition: background 0.4s;
}

.switch--flat + label:after {
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 28px;
  background-color: $background-color;  // Cor do botão ajustada
  border-radius: 28px;
  transition: margin 0.4s, background 0.4s;
}

.switch--flat:checked + label {
  background-color: $primary-color;  // Cor de fundo quando ativado
}

.switch--flat:checked + label:after {
  margin-left: 30px;
  background-color: $primary-color;  // Cor do botão ajustada
}


/* Estilo da Navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.315) !important; /* Ajusta o fundo para um tom de preto transparente */
  color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;

  /* Estilo para o botão "Busca Avançada" */
  .btn-advanced {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;

    &:hover {
      background-color: rgba(0, 123, 255, 0.2);
      color: #007bff;
    }

    i {
      font-size: 10px;
      transition: transform 0.3s ease;
    }
  }

  /* Estilo para o botão "Principal" */
  .btn-principal {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(0, 123, 255, 0.2);
      color: #007bff;
    }
  }

  /* Estilo para o menu de Busca Avançada */
  .menu-busca-avancada {
    background-color: #d3d3d346;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%; /* Posiciona o menu logo abaixo do botão */
    left: 58%; /* Centraliza o menu */
    transform: translateX(-50%); /* Ajusta a centralização */
    width: 200px;
    display: block;
    z-index: 9;
    height: 130px;

    a {
      text-decoration: none;
      color: white;
      display: block;
      padding: 0px 0px;
      border-radius: 8px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #007bff;
        color: white;
      }
    }
  }
}

/* Estilo do modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.658); /* Fundo com transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Garante que o modal fique sobre outros elementos */
}

.modal-content {
  background-color: rgba(95, 95, 95, 0.966);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 300px;
  max-width: 90%;
}

.modal-content button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content button:last-child {
  background-color: #dc3545; /* Cor para o botão "Não" */
}

.modal-content button:last-child:hover {
  background-color: #c82333;

}

/* Estilo para os botões "Sim" e "Não" ficarem lado a lado */
.modal-content .modal-buttons {
  display: flex;
  justify-content: center; /* Alinha os botões ao centro */
  gap: 10px; /* Espaço entre os botões */
}
.modal-content h4, .modal-content p {
  color: white; /* Altera a cor do texto para branco */
}


/* Estilo do botão "SAIR" */
.btn-logout {
  background-color: transparent; /* Fundo transparente */
  border: none; /* Sem borda */
  color: white; /* Cor do texto branca */
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: color 0.3s ease; /* Transição suave para a cor do texto */
  cursor: pointer; /* Cursor de ponteiro para indicar que é clicável */

  &:hover {
    color: red; /* Cor do texto vermelha ao passar o mouse */
  }
}

