<div class="btn-container">
  <button
    (click)="onCriar()"
    type="button"
    class="btn btn-info btn-rounded"
    mdbRipple
  >
    Criar Ticket
  </button>
  <button
    *ngIf="tipoDeUsuario == 'ROLE_admin'"
    (click)="onCriarUsuario()"
    type="button"
    class="btn btn-info btn-rounded"
    mdbRipple
  >
    Criar Usuário
  </button>
</div>

<div class="tickets-grid">
  <div
    class="ticket-card"
    *ngFor="let ticket of ticketsList; trackBy: trackById"
    (click)="show(ticket)"
  >
    <div class="ticket-header">
      <h5>Ticket #{{ ticket.id }}</h5>
      <span class="status">{{ ticket.status }}</span>
    </div>
    <p id="texto" class="resumo">{{ ticket.resumoProblema }}</p>
    <p id="texto" class="local">Local: 
      {{
        ticket.local === 'OUTRO' ? ticket.outroLocal : ticket.local
      }}
    <p id="texto" class="data">
      {{
        ticket.dataSolucao
          ? 'Resolvido:' + (ticket.dataSolucao | date: 'short')
          : 'Criado:' + (ticket.dataCriacao | date: 'short')
      }}
    </p>
    <div class="conteiner-imagem">
      <!-- Se o src for null, mostrar imagem padrão -->
      <img
        [src]="servidor + '/image/download/' + ticket.caminhoFoto"
        (error)="onError($event)"
        alt="Imagem do Ticket"
        class="ticket-image"
      />
    </div>
    <div class="actions">
      <button
        *ngIf="tipoDeUsuario == 'ROLE_admin' || tipoDeUsuario == 'ROLE_user' && ticket.status == 'ABERTO'"
        class="btn-primary"
        id="botaoEditar"
        (click)="edit(ticket); $event.stopPropagation()"
      >
        Editar
      </button>
      <button
        *ngIf="tipoDeUsuario == 'ROLE_admin' && ticket.status == 'CANCELADO'"
        class="btn-danger"
        (click)="deletar(ticket); $event.stopPropagation()"
      >
        Excluir
      </button>
      <button
        *ngIf="tipoDeUsuario == 'ROLE_admin' && ticket.status == 'ABERTO'"
        class="btn-success"
        (click)="pegarTicket(ticket); $event.stopPropagation()"
      >
        Pegar
      </button>
      <button
        *ngIf="tipoDeUsuario == 'ROLE_admin' && ticket.status == 'EM_ANDAMENTO'"
        class="btn-success"
        (click)="finalizarTicket(ticket); $event.stopPropagation()"
      >
        Finalizar
      </button>
      <button
        *ngIf="tipoDeUsuario == 'ROLE_admin' && ticket.status == 'EM_ANDAMENTO'"
        class="btn-success"
        (click)="reabrirTicket(ticket); $event.stopPropagation()"
      >
        Sair
      </button>
      <button
        *ngIf="tipoDeUsuario == 'ROLE_admin' && (ticket.status == 'CANCELADO' || ticket.status == 'SOLUCIONADO')"
        class="btn-success"
        (click)="reabrirTicket(ticket); $event.stopPropagation()"
      >
        Reabrir
      </button>
      <button
        *ngIf="tipoDeUsuario == 'ROLE_admin' && ticket.status != 'CANCELADO'"
        class="btn-danger"
        (click)="cancelarTicket(ticket); $event.stopPropagation()"
      >
        Cancelar
      </button>
      <button
        *ngIf="tipoDeUsuario == 'ROLE_user' && ticket.status == 'ABERTO'"
        class="btn-danger"
        (click)="cancelarTicket(ticket); $event.stopPropagation()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>

<ng-template #modalTicketDetails>
  <div class="modal-header">
    <!-- Se funcao for Criar, mostrar "Criar Novo Ticket" -->
    <h5 class="modal-title" id="exampleModalLabel" *ngIf="funcao === 'Criar'">
      Criar Novo Ticket
    </h5>
    <!-- Se funcao for Atualizar, mostrar "Atualizar Ticket" -->
    <h5 class="modal-title" id="exampleModalLabel" *ngIf="funcao === 'Editar'">
      Editar Ticket
    </h5>
    <button
      type="button"
      id="botaoFechar"
      class="btn-close"
      aria-label="Close"
      (click)="onClose()"
    ></button>
  </div>
  <div class="modal-body">
    <app-admindetalhes
      [TicketList]="ticketEdit"
      [funcao]="funcao"
      (retorno)="retornar($event)"
    ></app-admindetalhes>
  </div>
</ng-template>

<ng-template #modalTicketShow>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Ticket #{{ ticketEdit.id }}
    </h5>
    <button
      type="button"
      id="botaoFechar"
      class="btn-close"
      aria-label="Close"
      (click)="onClose()"
    ></button>
  </div>
  <div class="modal-body">
    <app-ticketshow
      [TicketList]="ticketEdit"
      [tipoDeUsuario]="tipoDeUsuario"
      [login]="login"
      (retorno)="retornar($event)"
    ></app-ticketshow>
  </div>
</ng-template>

<ng-template #modalCriarUsuario>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Criar Conta de Usuário
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="onClose()"
    ></button>
  </div>
  <div class="modal-body">
    <app-criar-usuario (retorno)="retornar($event)"></app-criar-usuario>
  </div>
</ng-template>
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <p>{{ alert }}</p>
    <div class="modal-buttons">
      <button (click)="closeModal()">ok</button>
    </div>
  </div>


