<div class="btn-container">
  <button
    (click)="onCriar()"
    type="button"
    class="btn btn-info btn-rounded"
    mdbRipple
  >
    Criar
  </button>

  <button
    (click)="onListar()"
    type="button"
    class="btn btn-info btn-rounded ms-2"
    mdbRipple
  >
    Listar
  </button>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th>ID</th>
      <th>Resumo</th>
      <th>Local</th>
      <th>Data de Criação</th>
      <th>Data de Solução</th>
      <th>Tipo de Problema</th>
      <th>Tipo de Problema Outros</th>
      <th>Subtipo de Problema</th>
      <th>Subtipo de Problema Outros</th>
      <th>Foto</th>
      <th>Status</th>
      <th>Aluno</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of ticketsList; trackBy: trackById">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.resumoProblema }}</td>
      <td>{{ ticket.local }}</td>
      <td>{{ ticket.dataCriacao | date: 'short' }}</td>
      <td>{{ ticket.dataSolucao | date: 'short' }}</td>
      <td>{{ ticket.tipoProblema }}</td>
      <td>{{ ticket.outrovtipoProblema }}</td>
      <td>{{ ticket.subtipoProblema }}</td>
      <td>{{ ticket.outroSubtipoProblema }}</td>
      <td>{{ ticket.caminhoFoto }}</td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.raAluno }}</td>
      <td class="text-end">
        <button
          type="button"
          class="btn btn-warning btn-sm btn-rounded me-1"
          mdbRipple
          (click)="edit(ticket)"
        >
          Editar
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm btn-rounded"
          mdbRipple
          (click)="deletar(ticket)"
        >
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #modalTicketDetails>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ticket</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="onClose()"
    ></button>
  </div>
  <div class="modal-body">
    <app-admindetalhes [TicketList]="ticketEdit" [funcao]="funcao" (retorno)="retornar($event)"></app-admindetalhes>
  </div>
</ng-template>


