<div class="btn-container">
  <button
    (click)="onCriar()"
    type="button"
    class="btn btn-info btn-rounded"
    mdbRipple
  >
    Criar
  </button>
  <button
    (click)="onListar()"
    type="button"
    class="btn btn-info btn-rounded ms-2"
    mdbRipple
  >
    atualizar
  </button>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th>ID</th>
      <th>Resumo</th>
      <th>Local</th>
      <th>Data de Criação</th>
      <th>Data de Solução</th>
      <th>Tipo de Problema</th>
      <th>Tipo de Problema Outros</th>
      <th>Subtipo de Problema</th>
      <th>Subtipo de Problema Outros</th>
      <th>Foto</th>
      <th>Status</th>
      <th>RA do Aluno</th>
      <th>Funcionário Responsável</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of ticketsList; trackBy: trackById">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.resumoProblema }}</td>
      <td>{{ ticket.local }}</td>
      <td>{{ ticket.dataCriacao | date: 'short' }}</td>
      <td>{{ ticket.dataSolucao | date: 'short' }}</td>
      <td>{{ ticket.tipoProblema }}</td>
      <td>{{ ticket.outrovtipoProblema }}</td>
      <td>{{ ticket.subtipoProblema }}</td>
      <td>{{ ticket.outroSubtipoProblema }}</td>
      <td>
        <img [src]="'http://127.0.0.1:8080/image/download/' + ticket.caminhoFoto" alt="Imagem do Ticket" class="img-fluid" style="width: 100px; height: 100px;"/>
      </td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.raAluno }}</td>
      <td>{{ ticket.funcionarioResponsavel }}</td>
      <td class="text-end">
        <!--se o usuário tipoDeUsuario for admin ou USUARIO e estado do ticket for ABERTO mostra o botão de editar-->
        <button
          *ngIf="tipoDeUsuario == 'ADMIN' || tipoDeUsuario == 'Usuarios' && ticket.status == 'ABERTO'"
          type="button"
          class="btn btn-primary btn-sm btn-rounded"
          mdbRipple
          (click)="edit(ticket)"
        > Editar </button>
        
        
        <!--se o usuário tipoDeUsuario for ADMIN, e estado do ticket for CANCELADO mostra o botão de excluir-->
        <button
          *ngIf="tipoDeUsuario == 'ADMIN' && ticket.status == 'CANCELADO'"
          type="button"
          class="btn btn-danger btn-sm btn-rounded"
          mdbRipple
          (click)="deletar(ticket)"
        > Excluir </button>
        <!--se o usuário tipoDeUsuário for ADMIN, e estado do ticket for ABERTO  mostra o botão de pegar ticket-->
        <button
          *ngIf="tipoDeUsuario == 'ADMIN' && ticket.status == 'ABERTO'"
          type="button"
          class="btn btn-success btn-sm btn-rounded"
          mdbRipple
          (click)="pegarTicket(ticket)"
        > Pegar </button>
        <!--se o usuário tipoDeUsuario for ADMIN, e estado do ticket for EM_ANDAMENTO mostra o botão de finalizar e sair-->
        <button
          *ngIf="tipoDeUsuario == 'ADMIN' && ticket.status == 'EM_ANDAMENTO'"
          type="button"
          class="btn btn-success btn-sm btn-rounded"
          mdbRipple
          (click)="finalizarTicket(ticket)"
        > Finalizar </button>
        <button
          *ngIf="tipoDeUsuario == 'ADMIN' && ticket.status == 'EM_ANDAMENTO'"
          type="button"
          class="btn btn-success btn-sm btn-rounded"
          mdbRipple
          (click)="reabrirTicket(ticket)"
        > Sair </button>

        <!--se o usuário tipoDeUsuario for ADMIN, e estado do ticket for CANCELADO ou SOLUCIONADO mostra o botão de reabrir-->
        <button
          *ngIf="tipoDeUsuario == 'ADMIN' && ticket.status == 'CANCELADO' || tipoDeUsuario == 'ADMIN' && ticket.status == 'SOLUCIONADO'" 
          type="button"
          class="btn btn-success btn-sm btn-rounded"
          mdbRipple
          (click)="reabrirTicket(ticket)"
        > Reabrir </button>

        <!--se o usuário tipoDeUsuario for ADMIN e estado do ticket nao for CANCELADO mostra o botão de cancelar-->
        <button
          *ngIf="tipoDeUsuario == 'ADMIN' && ticket.status != 'CANCELADO'"
          type="button"
          class="btn btn-danger btn-sm btn-rounded"
          mdbRipple
          (click)="cancelarTicket(ticket)"
        > Cancelar </button>

        <!--se o usuário tipoDeUsuario for USUARIO e estado do ticket for ABERTO mostra o botão de cancelar-->
        <button
          *ngIf="tipoDeUsuario == 'Usuarios' && ticket.status == 'ABERTO'"
          type="button"
          class="btn btn-danger btn-sm btn-rounded"
          mdbRipple
          (click)="cancelarTicket(ticket)"
        > Cancelar </button>

      </td>
    </tr>
  </tbody>
</table>

<ng-template #modalTicketDetails>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ticket</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="onClose()"
    ></button>
  </div>
  <div class="modal-body">
    <app-admindetalhes [TicketList]="ticketEdit" [funcao]="funcao" (retorno)="retornar($event)"></app-admindetalhes>
  </div>
</ng-template>


