<!-- Barra de navegação -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Texto indicando o tipo de usuário -->
    <span class="navbar-text text-white me-auto">
      USUÁRIO: {{ tipoDeUsuario === 'ADMIN' ? 'ADMIN' : 'ALUNO' }}
    </span>

    <!-- Botões "Principal" e "Busca Avançada" -->
    <button class="btn btn-principal" (click)="irParaPrincipal()">PRINCIPAL</button>
    <button class="btn btn-advanced" (click)="toggleBuscaAvancada()">
      BUSCA AVANÇADA
      <i [class]="exibirBuscaAvancada ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
      mdbCollapse
      #centered="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <!-- Itens para ADMIN -->
        <li *ngIf="tipoDeUsuario === 'ADMIN'" class="nav-item">
          <a class="nav-link" href="/admin/principal">PRINCIPAL</a>
        </li>
        <li *ngIf="tipoDeUsuario === 'ADMIN'" class="nav-item">
          <a class="nav-link" href="/admin/principal/cancelados">CANCELADO</a>
        </li>
        <li *ngIf="tipoDeUsuario === 'ADMIN'" class="nav-item">
          <a class="nav-link" href="/admin/principal/pendentes">PENDENTES</a>
        </li>
        <li *ngIf="tipoDeUsuario === 'ADMIN'" class="nav-item">
          <a class="nav-link" href="/admin/principal/andamento">EM-ANDAMENTO</a>
        </li>
        <li *ngIf="tipoDeUsuario === 'ADMIN'" class="nav-item">
          <a class="nav-link" href="/admin/principal/concluidos">CONCLUIDOS</a>
        </li>

        <!-- Itens para USUARIO -->
        <li *ngIf="tipoDeUsuario === 'Usuarios'" class="nav-item">
          <a class="nav-link" href="/aluno/principal">PRINCIPAL</a>
        </li>
        <li *ngIf="tipoDeUsuario === 'Usuarios'" class="nav-item">
          <a class="nav-link" href="/aluno/principal/pendentes">PENDENTES</a>
        </li>
        <li *ngIf="tipoDeUsuario === 'Usuarios'" class="nav-item">
          <a class="nav-link" href="/aluno/principal/andamento">EM-ANDAMENTO</a>
        </li>
        <li *ngIf="tipoDeUsuario === 'Usuarios'" class="nav-item">
          <a class="nav-link" href="/aluno/principal/concluidos">CONCLUIDOS</a>
        </li>

        <!-- Link para SAIR -->
        <li class="nav-item">
          <a class="nav-link" href="/login">SAIR</a>
        </li>
      </ul>
    </div>

    <!-- Botão "SAIR" -->
    <button class="btn btn-logout ms-auto" (click)="openLogoutModal()">SAIR</button>
  </div>
</nav>

<!-- Modal -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <h4>SISTEMA NOTIFICA</h4>
    <p>Você tem certeza que deseja sair?</p>
    <div class="modal-buttons">
      <button (click)="confirmLogout()">Sim</button>
      <button (click)="closeModal()">Não</button>
    </div>
  </div>
</div>

