.navbar {
  background-color: rgba(0, 0, 0, 0.315) !important; /* Ajusta o fundo para um tom de preto transparente */
  color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;

  .btn-advanced {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;

    &:hover {
      background-color: rgba(0, 123, 255, 0.2); 
      color: #007bff; 
    }

    i {
      font-size: 10px;
      transition: transform 0.3s ease;
    }
  }

  .btn-advanced,
  .btn-principal {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(0, 123, 255, 0.2);
      color: #007bff;
    }
  }

  .menu-busca-avancada {
    background-color: #d3d3d3b4;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%; /* Posiciona o menu logo abaixo do botão */
    left: 60%; /* Centraliza o menu */
    transform: translateX(-50%); /* Ajusta a centralização */
    width: 200px;
    display: block;
    z-index: 9;
    height: 130px;

    a {
      text-decoration: none;
      color: white;
      display: block;
      padding: 0px 0px;
      border-radius: 8px;
      transition: background-color 0.3s, color 0.3s;
      

      &:hover {
        background-color: #007bff;
        color: white;
      }
    }
  }
}
