/* Barra de navegação */
.navbar {
    border: 2px solid rgb(0, 116, 170);
    display: inline-block; 
    padding: 0; 
    border-radius: 1%;
    background-color: rgb(125, 202, 0);
  }
  
  
  .navbar-nav {
    display: inline-flex;
    list-style: none; 
    padding: 0; 
    margin: 0; 
  }


  .navbar-nav .nav-item {
    margin-right: 10px; 
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0; 
  }
  

  .navbar-nav .nav-item .nav-link {
    padding: 5px 75px; 
    transition: background-color 0.3s, color 0.3s; 
  }
  
  /* Efeito ao passar o mouse sobre os itens */
  .navbar-nav .nav-item:hover .nav-link {
    background-color: rgb(15, 199, 255); 
    color: rgb(7, 7, 7); 
  }
  
  /* Para o link 'SAIR', caso queira algo diferente */
  .navbar-nav .nav-item:last-child:hover .nav-link {
    background-color: red; /* Cor personalizada */
    color: rgb(0, 0, 0);
  }
  


