<div class="conteiner">

  <form class="conteinerTicket">
    <label id="title" for="resumoProblema">Resumo do Problema:</label>
    <input id="resumoProblema" [(ngModel)]="TicketList.resumoProblema" name="resumoProblema" required />

    <label id="title" for="local">Local:</label>
    <select id="local" [(ngModel)]="TicketList.local" name="local" required>
      <option value="BIBLIOTECA">Biblioteca</option>
      <option value="LABORATORIO">Laboratório</option>
      <option value="SALA">Sala</option>
      <option value="OUTRO">Outro</option>
    </select>

    <!-- Mostrar o campo "Outro Local" apenas se "local" for "OUTRO" -->
    <div *ngIf="TicketList.local === 'OUTRO'">
      <label id="title" for="outroLocal">Outro Local:</label>
      <input id="outroLocal" [(ngModel)]="TicketList.outroLocal" name="outroLocal" required />
    </div>

    <label id="title" for="tipoProblema">Tipo de Problema:</label>
    <select id="tipoProblema" [(ngModel)]="TicketList.tipoProblema" (change)="listarSubTipoProblema()" name="tipoProblema" required>
      <option value="OUTRO">Outro</option>
      <option value="ELETRICO">Elétrico</option>
      <option value="INFRAESTRUTURA">Infraestrutura</option>
      <option value="MOBILIARIO">Mobiliário</option>
      <option value="REDE">Rede</option>
      <option value="TECNOLOGIA">Tecnologia</option>
    </select>

    <!-- Mostrar o campo "Outro Tipo de Problema" apenas se "tipoProblema" for "OUTRO" -->
    <div *ngIf="TicketList.tipoProblema === 'OUTRO'">
      <label id="title" for="outroTipoProblema">Outro Tipo de Problema:</label>
      <input id="outroTipoProblema" [(ngModel)]="TicketList.outrovtipoProblema" name="outroTipoProblema" required />
    </div>

    <label id="title" for="subtipoProblema">Subtipo de Problema:</label>
    <select id="subtipoProblema" [(ngModel)]="TicketList.subtipoProblema" ng-reflect-model="novoTicket.subtipoProblema" name="subtipoProblema" required>
      <option value="OUTRO">Outro</option>
      <option *ngFor="let subtipoProblema of SubTipoProblemalist" [value]="subtipoProblema.subtipoProblema">
        {{subtipoProblema.subtipoProblema}}
      </option>
    </select>

    <!-- Mostrar o campo "Outro Subtipo de Problema" apenas se "subtipoProblema" for "OUTRO" -->
     <div id="title" *ngIf="TicketList.subtipoProblema === 'OUTRO'">
      <label id="title" for="outroSubtipoProblema">Outro Subtipo de Problema:</label>
      <input id="outroSubtipoProblema" [(ngModel)]="TicketList.outroSubtipoProblema" name="outroSubtipoProblema" required />
    </div>

    <label id="title" for="FotoInput">Foto:</label>
    <input id="FotoInput" type="file" accept="image/*" (change)="onFileSelected($event)"/>
    <div class="conteiner-imagem" (click)="triggerFileInput()">
      <img [src]="servidor + '/image/download/' + TicketList.caminhoFoto" alt="Imagem do Ticket" class="ticket-image" />
    </div>

    <!-- mostrar botao de criar ticket se funcao for Criar -->
    <button *ngIf="funcao === 'Criar'" (click)="criarTicket()" type="button" class="btn btn-info btn-rounded ms-2" >Criar Ticket</button>
    <!-- mostrar botao de editar ticket se funcao for Atualizar -->
    <button *ngIf="funcao === 'Editar'" (click)="atualizarTicket()" type="button" class="btn btn-info btn-rounded ms-2" >Atualizar Ticket</button>
  </form>
</div>
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <p>{{ alert }}</p>
    <div class="modal-buttons">
      <button (click)="closeModal()">ok</button>
    </div>
  </div>
