<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="project-title text-center">Notifica & Descomplica</h2>
          <h4 class="card-title text-center">Login</h4>
          <form (ngSubmit)="onLogin()">
            <div class="form-outline mb-4">
              <input 
                type="text" 
                id="login" 
                class="form-control" 
                [(ngModel)]="login" 
                name="login" 
                placeholder="Login" 
                required
              />
              <label class="form-label" for="login">Login</label>
            </div>

            <div class="form-outline mb-4">
              <input 
                type="password" 
                id="senha" 
                class="form-control" 
                [(ngModel)]="senha" 
                name="senha" 
                placeholder="Senha" 
                required
              />
              <label class="form-label" for="senha">Senha</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
